@{
    ViewData["Title"] = "Get To Know Joel";
}
<h1>@ViewData["Title"]</h1>
<ul>
    <li>
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
	</li>
    <li>
    <a href="https://baconsale.com/">My Podcast - BaconSale</a>
    </li>
</ul>
<a href="https://baconsale.com/"><img src="~/BaconsaleKate.jpg" href="https://baconsale.com/" width="500px" height="404px" /></a>
    